@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9faff;
    --primary: #80d727;
    --text-dark: #141414;
    --text-extralight: #9a9a9a;
    --bg-gray: #ededed;
    --bg-light-gray: #f6f6f6;
    --dark-gray: #595959;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
